<div class="banner">
  <div class="banner-text">
    <span class="banner-head-text">Home Trial Cart 2.0</span>
    <div class="banner-content-text">
        <span>It's an Experience!</span>
        <span>Four Frames. Three Lenses. 1Laser</span>
    </div>
    <div class="banner-button-group">
        <button class="text-button">Try Now</button>
        <button class="icon-button"><mat-icon class="play-button-icon">play_arrow</mat-icon></button> <span class="button-desc">Watch Whats New!</span>
    </div>
  </div>
  <div class="banner-image">
    <img src="assets/images/image-39.png" id="image-1" />
    <img src="assets/images/group-6248.png" id="image-2" />
  </div>
</div>
