<div class="footer">
  <div class="container">
    <div class="level-1">
      <div class="footer-logo">
        <img
          src="assets/images/logo_symbol.svg"
          id="logo"
        />
      </div>
      <div class="footer-input"><input class="footer-input-box" placeholder="Join us for our newsletter" /></div>
      <div class="social-media">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-pinterest"></a>
      </div>
    </div>
    <div class="level-2">
        <div class="Glasses">
            <p class="footer-list">Glasses</p>
            <ul class="list">
                <li>Wayfarer Glasses</li>
                <li>Clear Glasses</li>
                <li>Half-Rim Glasses</li>
                <li>Titanium Glasses</li>
                <li>Metal Glasses</li>
                <li>Oval Glasses</li>
                <li>+More</li>
            </ul>
        </div>
        <div class="Lenses">
            <p class="footer-list">Lenses</p>
            <ul class="list">
                <li>Varifocal Lenses</li>
                <li>Transistional Lenses</li>
                <li>Blue Light Lenses</li>
                <li>Anti Reflective Lenses</li>
                <li>Thin Lenses</li>
                <li>Lenses and Coatings</li>
                <li>+More</li>
            </ul>
        </div>
        <div class="Services">
            <p class="footer-list">Services</p>
            <ul class="list">
                <li>Try At Home</li>
                <li>Same Day Dispatch</li>
                <li>Reglaze Glasses</li>
                <li>Home Eye Test</li>
                <li>NHS Free Eye Test</li>
                <li>Opticians in Manchester</li>
            </ul>
        </div>
        <div class="HelpAndFaqs">
            <p class="footer-list">Help & FQAs</p>
            <ul class="list">
                <li>Your Prescription</li>
                <li>How to Order</li>
                <li>Free Returns</li>
                <li>Delivery Information</li>
                <li>How to Measure PD</li>
                <li>Reviews</li>
                <li>+More</li>
            </ul>
        </div>
        <div class="AboutUs">
            <p class="footer-list">About Us</p>
            <ul class="list">
                <li>Our Story</li>
                <li>Contact Us</li>
                <li>Our Blog</li>
                <li>Jobs</li>
                <li>Walkden Studio</li>
                <li>Bury Studio</li>
                <li>+More</li>
            </ul>
        </div>
    </div>
    <div class="level-3">
        <ul class="brands">
            <li class="brands-title">BRANDS</li>
            <li class="brand-name">|</li>
            <li class="brand-name">Tom Archer</li>
            <li class="brand-name">Marc Fabien</li>
            <li class="brand-name">Ted Baker</li>
            <li class="brand-name">Selvatore Ferragamo</li>
            <li class="brand-name">Calvin Klein</li>
            <li class="brand-name">Actics</li>
        </ul>
        <div class="payment">
            <img src = "assets/images/accept-payment.png" id="payment-cards"/>
        </div>
    </div>
    <div class="level-4">
        <div class="copyright-text-a">
            <p>Developed for testing purpose by Nikhil Shukla © 2023 Specscart.</p>
        </div>
        <div class="copyright-text-b">
            <a class="seperator" href="#">Sitemap</a>
            <a class="seperator" href="#">Terms & Conditions</a>
            <a class="seperator" href="#">Privacy Policy</a>
        </div>
    </div>
  </div>
</div>
